<div class="choices">
  <div>You</div>
  <div></div>
  <div>Computer</div>

  <div>
    <button class="rock" (click)="choosed.emit('rock')">
      <img src="./assets/rock.svg">
    </button>
    <button class="paper" (click)="choosed.emit('paper')">
      <img src="./assets/paper.svg">
    </button>
    <button class="scissors" (click)="choosed.emit('scissors')">
      <img src="./assets/scissors.svg">
    </button>
  </div>

  <div class="vs">vs</div>

  <div>
    <button class="computer-choice">
      ?
    </button>
  </div>
</div>