<div class="choices">
  <div>You</div>
  <div></div>
  <div>Computer</div>

  <div (click)="sendAction($event)">
    <button class="rock" name="rock">
      <img src="./assets/rock.svg">
    </button>
    <button class="paper" name="paper">
      <img src="./assets/paper.svg">
    </button>
    <button class="scissors" name="scissors">
      <img src="./assets/scissors.svg">
    </button>
  </div>

  <div class="vs">vs</div>

  <div>
    <button class="computer-choice">
      ?
    </button>
  </div>
</div>